#
#Sun Jun 10 11:39:39 CEST 2018
MainMaximized=false
CONTROLLER_INSTANCE1=de.mossgrabers.reaper.controller.kontrol.usb.mkii.KontrolMkIIS49ControllerInstance
CONTROLLER_INSTANCE0=de.mossgrabers.reaper.controller.kontrol.usb.mki.KontrolMkIS25ControllerInstance
DAW_COMMAND=C\:\\Program Files\\REAPER (x64)\\reaper.exe
MainWindowH=652.0
RUN_AUTOMATICALLY=true
MainWindowY=350.0
MainWindowX=125.0
MainWindowW=1209.0
